<div class="row">
  <div class="col-xs-12">
    <h1>{{ userstory.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ userstory.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ userstory.businessValue}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage User Story <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit UserStory</a></li>
        <li><a href="#">Delete UserStory</a></li>
      </ul>
    </div>
  </div>
</div>
